/*
  VARIABLES
*/

:root {
  --title-color: #2962ff;
  --subtitle-color: rgba(0, 0, 0, 0.50);
  --base-font-color: rgba(0, 0, 0, 0.80);
}


/*
  RESUME CUSTOM STYLES
*/

.resume {
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 12px;
  color: var(--base-font-color);
}

.resume .header {
  padding: 3vh 2vw;
  padding-top: 6vh;
  padding-left: 4vw;
  padding-bottom: 4vh;
  border-bottom: var(--title-color) solid 2px;
}

.resume .header .header-flex {
  display: flex;
}

.resume .header .header-flex .left-section {
  flex: 3 1 30vw;
  margin-right: 1vw;
  padding-right: 1vw;
  text-align: justify;
}

.resume .header .header-flex .right-section {
  flex: 2 1 20vw;
  margin-right: 2vw;
  padding-top: 1vh;
}

.resume .header .contact-details .contact-item {
  /* padding-top: 1vw; */
  margin-top: 2.2vh;
  /* margin-bottom: 3vh; */
  text-align: right;
}

.resume .header .contact-details .contact-item span{
  
  padding-left: 1vw;
}

.resume .header .contact-details .contact-item .icon{
  position: relative;
  top: 0.5vh;
}

.resume .header .title {
  color: var(--base-color);
  font-family: Ubuntu-Regular;
  font-size: 3rem;
  padding-bottom: 2vh;
}

.resume .header .subtitle {
  color: var(--title-color);
  font-family: Ubuntu-Regular;
  font-size: 1.8rem;
  padding-bottom: 2vh;
}

.resume .content {
  padding: 3vh 4vw;
  padding-top: 5vh;
  padding-left: 4vw;
  
  text-align: justify;
}

/* .resume .content .section {

} */

.resume .content .section .section-title {
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 20px;
  color: var(--base-font-color);
  /* margin-top: 2vh; */
  margin-bottom: 2vh;
}

.work-experience-item {
  margin-bottom: 3vh;
}

.work-experience-item .work-experience-name{
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 16px;
  color: var(--base-font-color);
}

.work-experience-item .work-experience-tenure{
  font-family: Ubuntu-Italic, sans-serif;
  
  color: var(--title-color);
}

.work-experience-item .work-experience-content ul li {
  margin-bottom: 2vh;
}

.education-item .degree-name {
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 16px;
  color: var(--base-color);
}

.education-item .degree-date {
  font-family: Ubuntu-Italic, sans-serif;
  
  color: var(--title-color);
}

.second-page {
  padding: 5vh 0vw;
}

.skills-group-header {
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 16px;
  color: var(--base-color);
}

.skills-group-body ul li {
  margin-bottom: 2vh;
}

.interests-section-content {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
  padding: 4vh 4vw;
  text-align: center;
}


.interest-label {
  text-align: center;
  margin: 2vh 2vw;
  font-family: Ubuntu-Bold, sans-serif;
}

.bold-text {
  font-family: Ubuntu-Bold, sans-serif;
}

.mb-1 {
  margin-bottom: 2vh;
}

.mt-1 {
  margin-top: 4vh;
}

/*
  RESUME FONT FAMILIES
*/
@font-face {
  font-family: "Ubuntu-Bold";
  src: url(/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-BoldItalic";
  src: url(/fonts/Ubuntu-BoldItalic.ttf);
}
@font-face {
  font-family: "Ubuntu-Italic";
  src: url(/fonts/Ubuntu-Italic.ttf);
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url(/fonts/Ubuntu-Light.ttf);
}
@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url(/fonts/Ubuntu-LightItalic.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url(/fonts/Ubuntu-MediumItalic.ttf);
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url(/fonts/Ubuntu-Regular.ttf);
}



